.horizontalHolder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.chunkCardTrayHolder {
  border: rgba(0, 0, 0, 0) dotted 4px;
}

.marginAdjustA {
  margin-bottom: -30px;
  margin-top: 30px;
}

.rodButton {
  font-size: 13px;
  margin: 0px;
  height: 21.5px;
  background-color: #e0ffff;
  border: black solid 0.5px;
}

.rodButton:hover {
  background-color: #b6f0f0;
}

.rodButton:active {
  background-color: #46c5f7;
}

.rodButtonDisabled {
  font-size: 13px;
  margin: 0px;
  height: 21.5px;
  background-color: rgb(245, 245, 245);
  color: rgb(168, 168, 168);
  border: black solid 0.5px;
}

.topics {
  height: 150px !important;
  width: 45%;
  font-size: 11px;
}

.topicsSelector {
  width: 45%;
}

.topicsButton {
  width: 10%;
  font-size: 16px;
  padding: 0px;
}

.difficultySelector {
  width: 35px;
  height: 25px;
  margin-left: 5px;
  margin-top: 1px;
}

.horizontalHolderMini {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 50px;
}

.horizontalHolderMini {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 40px;
  margin-top: 5px;
}

.horizontalHolderMini > * {
  max-height: 40px;
}

.difficultyHeader {
  margin-left: 30px;
}
