.cardHolder {
  border: turquoise dotted 5pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}

.cardHolderContainer {
  margin-top: 100px;
}

.buttonHolder {
  /* border: black solid 2px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.buttonHolderTitle {
  margin: 0px;
  width: 600px;
  text-align: center;
}

.buttonSubholder {
  border: black solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 35px;
}

.plusButton {
  font-size: 50px;
  color: black;
  opacity: 0.05;
  min-width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7.5px;
}

.plusButton:hover {
  opacity: 0.15;
}

.plusButton:active {
  opacity: 0.25;
}
