.card {
  border: black solid 1pt;
  height: 100px;
  width: 162px;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  display: flex;
  flex-direction: column;
}

.lemma {
  font-size: 32px;
  font-weight: 200;
  border: red solid 1px;
  width: 100%;
}

.cardButtonsHolder {
  /* border: blue solid 1px; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
}

.cardButton {
  width: 33%;
  color: lightblue;
  background-color: lightcyan;
  border: none;
  border: lightgray solid 0.5px;
  border-top: none;
}

.cardButton:hover {
  color: darkblue;
}

.cardButton:active {
  background-color: darkblue;
  color: lightcyan;
}

.traitBoxesHolder {
  /* border: blue solid 0.5px; */
  background-color: none;
  color: black;
  text-align: center;
  width: 162px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2px;
}

.toggleShowButton {
  height: 30px;
  width: 70px;
  margin: 0px;
  margin-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: darkgreen;
  background-color: rgb(202, 255, 202);
  border: darkgreen solid 1px;
}

.toggleShowButton:hover {
  background-color: rgb(229, 252, 229);
}

.toggleShowButton:active {
  background-color: lightgreen;
  color: rgb(202, 255, 202);
}
