.card {
  border: black solid 1pt;
  height: 100px;
  width: 162px;
  min-width: 162px;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.shortCard {
  width: 112.5px;
  min-width: 112.5px;
}

.needsAttention {
  border: red solid 2px;
  box-shadow: 0px 0px 5px red;
}

.lemmaHolder {
  width: 100% !important;
  min-width: 100% !important;
  height: 65% !important;
  min-height: 65% !important;
  overflow-x: hidden;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  hyphens: auto;
  margin-bottom: 15px;
  padding: 0px 5px 0px;
}

.lemma {
  font-size: 28px;
  font-weight: 200;
  padding: 0px;
  margin: 0px;
  hyphens: auto;
  line-height: 26px;
}

.lemmaGhostChunk {
  font-style: italic;
  text-decoration: line-through;
  opacity: 0.5;
}

.cardButtonsHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100.5%;
  margin: 0px;
  height: 30px;
}

.traitBoxesHolder {
  background-color: none;
  color: black;
  text-align: center;
  width: 162px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2px;
}

.toggleShowButton {
  height: 30px;
  width: 70px;
  margin: 0px;
  margin-top: 6px;
  margin-bottom: 4px;
  padding-bottom: 5px;
  font-size: 16px;
  color: darkgreen;
  background-color: rgb(202, 255, 202);
  border: darkgreen solid 1px;
}

.toggleShowButton:hover {
  background-color: rgb(229, 252, 229);
}

.toggleShowButton:active {
  background-color: lightgreen;
  color: rgb(202, 255, 202);
}

.toggleShowButtonSpan {
  font-size: 20px;
}

.wordtype {
  font-size: 12px;
  margin: 0px;
  margin-top: 82.5px;
  padding: 0px;
  position: absolute;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  /* top: 0px; */
}
