.cardHolder {
  border: turquoise dotted 5pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}

.cardHolderContainer {
  margin-top: 100px;
}

.buttonHolder {
  border: black solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.plusButton {
  font-size: 50px;
  color: rgb(250, 250, 250);
  /* border: black solid 1px; */
  min-width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7.5px;
}

.plusButton:hover {
  color: lightgrey;
}

.plusButton:active {
  color: darkgrey;
}
