.topics {
  height: 150px !important;
  width: 65%;
}

.topicsSelector {
  width: 25%;
}

.topicsButton {
  width: 10%;
  font-size: 16px;
  padding: 0px;
}

.difficultySelector {
  width: 35px;
  height: 25px;
  margin-left: 5px;
  margin-top: 1px;
}

.horizontalHolderMini {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 50px;
}

.horizontalHolderMini {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 40px;
  margin-top: 5px;
}

.horizontalHolderMini > * {
  max-height: 40px;
}

.difficultyHeader {
  margin-left: 30px;
}
