table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
  border: rgba(0, 0, 0, 0.2) solid 1px;
  width: 100%;
}
th,
td {
  padding: 0.25rem;
}
tr.red th {
  background: red;
  color: white;
}
tr.green th {
  background: green;
  color: white;
}
tr.purple th {
  background: purple;
  color: white;
}
th {
  background: grey;
  position: sticky;
  top: -0.5px !important; /* top: 0px required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

table tr:nth-child(odd) {
  background: gainsboro;
}

table tr:nth-child(even) {
  background: rgb(244, 244, 244);
}

tbody {
  font-size: 13px;
}

.translucent {
  opacity: 0.25 !important;
}

.leftCellText {
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  font-size: 15px;
  width: 220px;
}

.idButton {
  height: 30px;
  margin: 0px;
  padding: 0px 5px 0px;
  background-color: rgba(255, 255, 255, 0.25);
  color: blue;
  border: blue solid 0.25px;
  border-bottom: none;
  border-right: none;
  box-shadow: none;
  font-size: 10px;
  width: 77px;
}

.idButton:hover {
  background-color: rgba(0, 0, 255, 0.25);
}

.idButton:active {
  background-color: rgba(0, 0, 255, 0.5);
}
