.mainbox {
  padding: 10px;
  border: lightseagreen solid 2px;
  box-shadow: 3px 3px 6px lightseagreen;
  background-color: rgb(207, 248, 246);
  color: black;
  height: 400px;
  width: 400px;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 8;
}

.mainboxWide {
  width: 800px !important;
}

.mainboxFit {
  padding-top: 20px;
  padding-bottom: 20px;
  height: fit-content;
}

.topHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}

.bottomHolder {
  overflow-y: scroll;
  height: 335px;
}

.title {
  font-size: 18px;
  margin-top: 0px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.numbering {
  display: inline-block;
  opacity: 0.2;
  width: 30px !important;
  padding: 0px;
  margin: 0px;
  margin-right: 40px;
}

.listItem {
  list-style: none;
  margin-top: 5px;
  font-size: 17px;
}

.tablerow {
  font-size: 16px;
}

.button {
  font-size: 16px;
  height: 40px;
  background-color: white;
}

.button:hover {
  box-shadow: 0px 0px 2.5px black;
}

.buttonHolder {
  /* border: black dotted 2px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.buttonSubholder {
  /* border: red dotted 2px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.topRightButtonHolder {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.extraInfo {
  font-size: 14px;
  margin: 10px 0px 0px;
}

.message {
  font-size: 16px;
}

.indexHeader {
  min-width: 30px !important;
}

.listHeaderEvenColumns {
  width: 50% !important;
}

.listHeaderHoverable:hover {
  background-color: white !important;
}

.hoverableRow:hover {
  background-color: rgb(193, 193, 193) !important;
}

th,
td {
  padding-left: 5px;
  padding-right: 5px;
  border-left: rgba(0, 0, 0, 0.5) solid 0.5px;
}
