.formHolder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form {
  border: blue solid 1px;
  background-color: rgb(204, 204, 245);
  margin: 10px;
  width: 225px;
  min-width: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 104.5px;
}

.formOption {
  width: 100%;
  border: rgba(255, 255, 255, 0.25) solid 0.5px;
  /* border-bottom: none; */
}

.formOption:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.title {
  height: 20px;
  margin: 10px 0px;
  text-align: center;
}

.titleSmall {
  font-size: 14px;
  height: 20px;
  margin: 6px 0px 3px;
  text-align: center;
}
