.formHolder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form {
  border: blue solid 1px;
  background-color: rgb(204, 204, 245);
  margin: 10px;
  width: 225px;
  min-width: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
}

.formOption {
  width: 100%;
  border: rgba(255, 255, 255, 0.25) solid 0.5px;
  border-bottom: none;
}

.formOption:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.title {
  height: 20px;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
