.traitBox {
  margin-top: 2.5px;
  width: 162px;
  min-height: 35px;
  border: white solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: lightgreen;
  border: darkgreen solid 1px;
}

.traitBoxHover {
  width: 324px;
  z-index: 1;
}

.traitBoxSelected {
  border: chartreuse solid 5px;
  height: fit-content !important;
}

.traitBoxEmpty {
  height: 25px;
}

.traitTitle {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.traitValuesInput {
  font-size: 14px;
  resize: none;
  text-align: center;
  width: 100%;
  padding-left: 20px;
  overflow-x: hidden;
}

.traitValuesInputLarge {
  height: 50px;
  padding-left: 27.5px;
}

.lexicalTraitTitle {
  font-style: italic;
}

.shimmer {
  display: inline-block;
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 0.75s;
}

@keyframes shimmer {
  50% {
    background-color: green;
    /* background-color: rgb(209, 238, 209); */
  }
  100% {
    mask-position: left;
    background-color: lightgreen;
  }
}

.inputOptionsHolder {
  border: red dotted 2px;
}

.traitValuesBox {
  display: flex;
  flex-direction: row;
}

.clearButton {
  border-left: none;
  margin: 0;
  font-size: 20px;
  height: auto;
}

.checkbox {
  margin-left: 45px;
}

.checkboxLabel:hover {
  background-color: rgba(1, 1, 1, 0.1);
}
.checkboxLabel {
  font-size: 14px;
  display: inline-block;
  min-width: 80px;
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
}

.preventSelection {
  -webkit-user-select: none !important; /* Safari */
  -ms-user-select: none !important; /* IE 10 and IE 11 */
  user-select: none !important; /* Standard syntax */
}

.floatingButton {
  position: absolute;
  background-color: none;
  background: none;
  font-size: 18px;
  border: none;
}
