.traitBox {
  position: relative;
  margin-top: 2.5px;
  width: 162px;
  min-height: 35px;
  border: white solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(244, 208, 244);
  border: purple solid 1px;
}

.traitBoxCircle1 {
  border-radius: 10px;
  width: 120px;
  min-height: 35px;
}

.traitBoxCircle1 textarea {
  font-size: 12px;
}

.traitBoxCircle2 {
  border-radius: 10px;
  width: 120px;
  height: 40px;
  background-color: rgb(227, 223, 250);
}

.traitBoxCircle2 textarea {
  font-size: 11px;
  line-height: 10px;
  padding: 2px 0px 2px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0) !important;
  height: 36px !important;
  /* border: blue solid 1px; */
}

.traitBoxHover {
  width: 243px;
  z-index: 2;
  box-shadow: black 1px 1px 15px;
  margin-top: 2.5px;
  margin-bottom: 8px;
}

.traitBoxHover textarea {
  padding: 0px;
}

.traitBoxSelected {
  height: fit-content !important;
  margin-bottom: 4px;
}

.traitBoxEmpty {
  height: 25px;
}

.traitTitle {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 120px;
}

.traitValuesInput {
  font-size: 13px;
  resize: none;
  text-align: center;
  width: 100%;
  padding-left: 20px;
  overflow-x: hidden;
}

.traitValuesInput:disabled {
  background-color: rgb(249, 239, 248);
  color: black;
}

.traitValuesInputLarge {
  height: 50px;
  padding-left: 27.5px;
}

.lexicalTraitTitle {
  font-style: italic;
}

.shimmer {
  display: inline-block;
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 0.5s;
}

@keyframes shimmer {
  50% {
    background-color: purple;
    /* background-color: rgb(209, 238, 209); */
  }
  100% {
    mask-position: left;
    background-color: rgb(244, 208, 244);
  }
}

.traitValuesBox {
  display: flex;
  flex-direction: row;
  height: 43px;
}

.clearButton {
  margin: 0;
  font-size: 20px;
  height: auto;
}

.clearButtonMini {
  margin: 0;
  font-size: 20px;
  line-height: 12px;
  padding-top: 1px;
  height: 15px;
}

.copyButton {
  margin: 0;
  font-size: 16px;
  height: auto;
  width: 20.5px !important;
}

.checkbox {
}

.checkbox2 {
  margin-left: 0px;
}

.checkboxLabel:hover {
  background-color: rgba(1, 1, 1, 0.1);
}

.checkboxLabel {
  font-size: 15px;
  line-height: 34px;
  display: inline-block;
  min-width: 80px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
}

.preventSelection {
  -webkit-user-select: none !important; /* Safari */
  -ms-user-select: none !important; /* IE 10 and IE 11 */
  user-select: none !important; /* Standard syntax */
}

.floatingButton {
  position: absolute;
  background-color: none;
  background: none;
  font-size: 14px;
  border: none;
  padding: 0px;
  margin-left: 2.5px;
  margin-top: 7.5px;
}

.floatingAlert {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
  font-size: 22px;
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.traitTitleHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.traitTitleHolderMultiple {
  justify-content: space-between;
}

.inputOption {
  /* border: green solid 2px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
}

.inputOptionsHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputOptionsSubHolder {
  /* border: orange dashed 3px; */
  padding-bottom: 7.5px;
  width: fit-content;
  padding-left: 25px;
}

.inputOption2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputOptionsHolder2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputOptionsSubHolder2 {
  padding-bottom: 7.5px;
  word-break: break-all;
  width: 72.5%;
  /* border: green dotted 5px; */
}

.badBox {
  background-color: crimson !important;
}

.briefBlur textarea {
  color: rgba(0, 0, 0, 0) !important;
}

.sideButtonHolder {
  display: flex;
  flex-direction: column;
}

.miniButtonHolder {
  box-shadow: none;
  padding: 0px;
  width: 30px !important;
  height: 30px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.miniButton {
  font-size: 12.5px;
  width: 15px;
  height: 14.5px;
  margin: 0px;
  padding: 0px;
  border: black solid 0.5px;
}

.smallText {
  font-size: 8px !important;
}
